/*MATRIX EFFECT*/

.matrix-effect {
	color: rgba(0, 255, 0, .7);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	text-shadow: rgba(255, 255, 255, .8) 0 0 4px;
	position: fixed;

}

@keyframes falling {
	from {top: -250px;}
	to 	{top: 115%;}
}

@-webkit-keyframes falling {
	from {top: -250px;}
	to 	{top: 115%;}
}

@-moz-keyframes falling {
	from {top: -250px;}
	to 	{top: 115%;}
}

@-o-keyframes falling {
	from {top: -250px;}
	to 	{top: 115%;}
}

.matrix-effect div.mtrx-column {
	position: absolute;
	white-space: nowrap;
	top: 0;

	transform: rotate(90deg);
	animation-name: falling;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	animation-direction: normal;

	-webkit-transform:rotate(90deg);
	-webkit-animation-name: falling;
	-webkit-animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: normal;

}

.dur1{
	animation-duration: 6s;
	-webkit-animation-duration: 6s;
}
.dur2{
	animation-duration: 9s;
	-webkit-animation-duration: 9s;
}
.dur3{
	animation-duration: 13s;
	-webkit-animation-duration: 13s;
}
.dur4{
	animation-duration: 16s;
	-webkit-animation-duration: 16s;
}
.dur5{
	animation-duration: 20s;
	-webkit-animation-duration: 20s;
}