<section class="timeline profile-infos">

    {% assign timelineData = site.data[include.timelineData] %}

    <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
    {% include content/timeline/margin.html %}
    <!-- /VERTICAL MARGIN -->

    <!-- SECTION TITLE -->
    {% include content/timeline/title.html %}
    <!-- /SECTION TITLE -->

    {% for timelineEntry in timelineData.list %}
    <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height {{ timelineData.listType }}"></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <div class="line-content">
                <!-- Subtitle -->
                <h3 class="section-item-title-1">{{ timelineEntry.title }}</h3>
                <!-- /Subtitle -->
                <!-- content -->
                <p class="{{ timelineEntry.class }}">
                    {{ timelineEntry.value }}
                    {% include {{ timelineEntry.partialPath }} %}
                </p>
                <!-- /Content -->
            </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
    </div>
    {% endfor %}

</section>