{% assign timelineData = site.data[include.timelineData] %}

<section class="timeline {{ timelineData.sectionClass }}" id="{{ timelineData.sectionId }}">

    <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
    {% include content/timeline/margin.html %}
    <!-- /VERTICAL MARGIN -->

    <!-- SECTION TITLE -->
    {% include content/timeline/title.html %}
    <!-- /SECTION TITLE -->

    {% for timelineEntry in timelineData.list %}
    <div class="line row">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height {{ timelineData.listType }}"></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <div class="line-content {{ timelineData.contentType }}">
                <!-- Subtitle -->
                <h3 class="section-item-title-1">{{ timelineEntry.title }}</h3>
                <!-- /Subtitle -->
                <!-- Activity time -->
                {% if timelineEntry.activity != null %}
                <h4 class="{{ timelineEntry.activity.type }}">
                    <i class="fa fa-flag"></i>
                    <span>
                        {{ timelineEntry.activity.title }}
                    </span>
                    <span class="{{ timelineEntry.activity.type }}-date">
                        {{ timelineEntry.activity.date }}
                    </span>
                </h4>
                {% endif %}
                <!-- /Activity time -->
                <!-- Content -->
                <div class="{{ timelineEntry.divClass }}">
                    {% if timelineEntry.partialPath != null %}
                        {% include {{ timelineEntry.partialPath }} %}
                    {% else %}
                    <p class="{{ timelineEntry.paragraphClass }}">
                        {{ timelineEntry.value }}
                    </p>
                    {% endif %}
                </div>
                <!-- /Content -->
            </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- /Margin Collum-->
    </div>
    {% endfor %}

</section>