<div class="line row">
    <!-- Margin Collums (necessary for the timeline effect) -->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <div class="col-md-2 timeline-progress hidden-sm hidden-xs timeline-title full-height">
    </div>
    <!-- /Margin Collums -->
    <!-- Item Content -->
    <div class="col-md-8 content-wrap bg1">
        <!-- Section title -->
        <h2 class="section-title">{{ timelineData.title }}</h2>
        <!-- /Section title -->
    </div>
    <!-- /Item Content -->
    <!-- Margin Collum-->
    <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
    <!-- / Margin Collum-->
</div>