{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 80,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "semi": true,
  "arrowParens": "always",
  "singleQuote": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "(?:\\.ts)",
    "^@config/(.*)$|^@utils/(.*)$",
    "^@store/(.*)$",
    "^@gql/(.*)$|(?:\\.gql)",
    "(?:[Ss]hape)",
    "(?:\\.schema)",
    "^@hooks/(.*)$",
    "^@components/(.*)$",
    "^@validation/(.*)$",
    "^@public/(.*)$",
    "(?:\\.s?css)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
