---
title: Nace Logar CV & Portfolio
layout: default
---

<section id="content-body" class="container animated">
    <div class="row" id="intro">

        <!-- Header Colors -->
        {% include content/header/colors.html %}
        <!-- /Header Colors -->

        <!-- Beginning of Content -->
        <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-1 resume-container">

            <!-- Header Buttons -->
            {% include content/header/buttons.html %}
            <!-- /Header Buttons -->

            <!-- =============== PROFILE INTRO ====================-->
            {% include content/profile/intro.html %}
            <!-- ============  /PROFILE INTRO ================= -->

            <!-- ============  TIMELINE ================= -->
            <div class="timeline-wrap">
                <div class="timeline-bg">

                    <!-- ====>> SECTION: PROFILE INFOS <<====-->
                    {% include content/timeline/main.html timelineData="profile" %}
                    <!-- ==>> /SECTION: PROFILE INFOS -->

                    <!-- ====>> SECTION: WORK EXPERIENCE <<====-->
                    {% include content/timeline/main.html timelineData="work" %}
                    <!-- ==>> /SECTION: WORK EXPERIENCE <<==== -->

                    <!-- ====>> SECTION: SKILLS <<====-->
                    {% include content/timeline/main.html timelineData="skills" %}
                    <!-- ==>> /SECTION: SKILLS -->

                    <!-- ====>> SECTION: INTERESTS <<====-->
                    {% include content/timeline/main.html timelineData="interests" %}
                    <!-- ==>> /SECTION: INTERESTS -->

                    <!-- ====>> SECTION: PORTFOLIO <<====-->
                    <section class="timeline portfolio" id="portfolio">

                        <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
                        <div class="line row timeline-margin">
                            <div class="content-wrap">
                                <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
                                <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
                                <div class="col-md-9 bg1 full-height"></div>
                            </div>
                        </div>
                        <!-- /VERTICAL MARGIN -->

                        <!-- SECTION TITLE -->
                        <div class="line row">
                            <!-- Margin Collums (necessary for the timeline effect) -->
                            <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs timeline-title full-height"></div>
                            <!-- /Margin Collums -->
                            <!-- Item Content -->
                            <div class="col-md-8 content-wrap bg1">
                                <!-- Section title -->
                                <h2 class="section-title">Portfólio</h2>
                                <!-- /Section title -->
                            </div>
                            <!-- Item Content -->
                            <!-- Margin Collum-->
                            <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
                            <!-- /Margin Collum-->
                        </div>
                        <!-- /SECTION TITLE -->

                        <!-- SECTION ITEM -->
                        <div class="line row">
                            <!-- Margin Collums (necessary for the timeline effect) -->
                            <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
                            <!-- /Margin Collums -->
                            <!-- Item Content -->
                            <div class="col-md-8 content-wrap bg1">
                                <div class="line-content">
                                    <!-- Subtitle -->
                                    <h3 class="section-item-title-1">Some Works</h3>
                                    <!-- /Subtitle -->
                                    <!-- content -->
                                    <div class="portfolio-itens clearfix">
                                        <!-- Portfolio item -->
                                        <div class="portfolio-item">
                                            <!-- Link to the item image (Put the long description on  "a" title)-->
                                            <a href="src/img/portfolio-item-zoom.jpg"
                                               title="You can find it here http://coding4passion.org" class="nivobox"
                                               data-lightbox-gallery="portfolio">
                                                <div class="hover">
                                                    <p class="zoomi"><i class="fa fa-search"></i></p>
                                                    <!-- Item short title -->
                                                    <p class="portfolio-item-title"><strong>Nace's</strong><br/> blog
                                                    </p>
                                                </div>
                                                <div class="hover-bg-wrapper">
                                                    <div class="hover-bg"></div>
                                                </div>
                                                <div class="portfolio-item-thumbnail">
                                                    <!-- Thumbnail of the portfolio image (400x360 for retina display) -->
                                                    <img src="src/img/portfolio-item-thumb.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <!-- /Portfolio item -->

                                        <!-- Portfolio item -->
                                        <div class="portfolio-item">
                                            <!-- Link to the item image (Put the long description on  "a" title)-->
                                            <a href="src/img/portfolio-item-zoom.jpg"
                                               title="You can find it here https://minasplus.e-karta.si/info/alpetour"
                                               class="nivobox" data-lightbox-gallery="portfolio">
                                                <div class="hover">
                                                    <p class="zoomi"><i class="fa fa-search"></i></p>
                                                    <!-- Item short title -->
                                                    <p class="portfolio-item-title">Bus tracking</p>
                                                </div>
                                                <div class="hover-bg-wrapper">
                                                    <div class="hover-bg"></div>
                                                </div>
                                                <div class="portfolio-item-thumbnail">
                                                    <!-- Thumbnail of the portfolio image (400x360 for retina display) -->
                                                    <img src="src/img/portfolio-item-thumb.jpg" alt="">
                                                </div>
                                            </a>
                                        </div>
                                        <!-- /Portfolio item -->
                                    </div>
                                    <!-- /Content -->
                                </div>
                            </div>
                            <!-- Item Content -->
                            <!-- Margin Collum-->
                            <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
                            <!-- /Margin Collum-->
                        </div>
                        <!-- /SECTION ITEM -->
                    </section>
                    <!-- ==>> /SECTION: PORTFOLIO -->


                    <!-- ====>> SECTION: THANK YOU <<====-->
                    <section class="timeline profile-infos">

                        <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
                        <div class="line row timeline-margin timeline-margin-big">
                            <div class="content-wrap">
                                <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
                                <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height"></div>
                                <div class="col-md-9 bg1 full-height"></div>
                            </div>
                        </div>
                        <!-- /VERTICAL MARGIN -->

                        <!-- SECTION ITEM -->
                        <div class="line row line-thank-you">
                            <!-- Margin Collums (necessary for the timeline effect) -->
                            <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
                            <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
                            <!-- /Margin Collums -->
                            <!-- Item Content -->
                            <div class="col-md-8 content-wrap bg1">
                                <div class="line-content">
                                    <!-- Subtitle -->
                                    <h3 class="thank-you">Thank You!</h3>
                                    <!-- /Subtitle -->
                                </div>
                            </div>
                            <!-- /Item Content -->
                            <!-- Margin Collum-->
                            <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
                            <!-- / Margin Collum-->
                        </div>
                        <!-- /SECTION ITEM -->
                    </section>
                    <!-- ==>> /SECTION: PROFILE INFOS -->
                </div>
            </div>
            <!-- ============  /TIMELINE ================= -->

            <!-- ============  FOOTER ================= -->
            <footer id="footer" class="row">
                <!-- Put your Quote Here-->
                <p class="quote">
                    “Any fool can write code that a computer can understand.<br>
                    Good programmers write code that humans can understand”
                </p>
                <!-- /Quote -->
                <!-- Quote Autor -->
                <p class="author">Martin Fowler</p>
                <!-- /Quote Autor -->
            </footer>
            <!-- ============  /FOOTER ================= -->
        </div>
    </div>
</section>
