---
title: Nace Logar CV & Portfolio
layout: default
---

<section id="content-body" class="container animated">
    <div class="row" id="intro">

        <!-- Header Colors -->
        {% include content/header/colors.html %}
        <!-- /Header Colors -->

        <!-- Beginning of Content -->
        <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-1 resume-container">

            <!-- Header Buttons -->
            {% include content/header/buttons.html %}
            <!-- /Header Buttons -->

            <!-- =============== PROFILE INTRO ====================-->
            {% include content/intro.html %}
            <!-- ============  /PROFILE INTRO ================= -->

            <!-- ============  TIMELINE ================= -->
            <div class="timeline-wrap">
                <div class="timeline-bg">

                    <!-- ====>> SECTION: PROFILE INFOS <<====-->
                    {% include content/timeline/main.html timelineData="profile" %}
                    <!-- ==>> /SECTION: PROFILE INFOS -->

                    <!-- ====>> SECTION: WORK EXPERIENCE <<====-->
                    {% include content/timeline/main.html timelineData="work" %}
                    <!-- ==>> /SECTION: WORK EXPERIENCE <<==== -->

                    <!-- ====>> SECTION: SKILLS <<====-->
                    {% include content/timeline/main.html timelineData="skills" %}
                    <!-- ==>> /SECTION: SKILLS -->

                    <!-- ====>> SECTION: INTERESTS <<====-->
                    {% include content/timeline/main.html timelineData="interests" %}
                    <!-- ==>> /SECTION: INTERESTS -->

                    <!-- ====>> SECTION: PORTFOLIO <<====-->
                    {% include content/timeline/main.html timelineData="portfolio" %}
                    <!-- ==>> /SECTION: PORTFOLIO -->


                    <!-- ====>> SECTION: THANK YOU <<====-->
                    {% include content/thankYou.html %}
                    <!-- ==>> /SECTION: PROFILE INFOS -->
                </div>
            </div>
            <!-- ============  /TIMELINE ================= -->

            <!-- ============  FOOTER ================= -->
            {% include content/footer.html %}
            <!-- ============  /FOOTER ================= -->
        </div>
    </div>
</section>
