<div class="side-menu-open hidden-sm hidden-xs">
    <!-- Menu-button -->
    <a href="#" class="btn btn-default side-menu-button"><i class="fa fa-bars"></i> MENU</a>
    <!-- /menu-button -->
</div>
<!-- Side Menu container -->
<div class="side-menu">
    <!-- close button -->
    <span id="side-menu-close"><i class="fa fa-times"></i></span>
    <!-- /close button -->

    <!-- Menu header -->
    <div class="side-menu-name">
        <!-- edit with your name -->
        Nace <strong>Logar</strong>
        <!-- /edit with your name -->
    </div>
    <!-- edit with your Job -->
    <p class="side-menu-job">Software Developer</p>
    <!-- /edit with your job -->
    <!-- /Menu Header -->

    <!-- Main Navigation -->
    <nav id="side-menu" class="side-menu-este">
        <ul class="nav side-menu-nav">
            <li><a href="#intro"><i class="fa fa-angle-right"></i> Intro</a></li>
            <li><a href="#works"><i class="fa fa-angle-right"></i> Work Experience</a></li>
            <li><a href="#skills"><i class="fa fa-angle-right"></i> Skills</a></li>
            <li><a href="#interests"><i class="fa fa-angle-right"></i> Interests</a></li>
            <li><a href="#portfolio"><i class="fa fa-angle-right"></i> Portfolio</a></li>
        </ul>
    </nav>
    <!-- /Main Navigation-->

    <!-- Other Buttons -->
    <div class="side-menu-buttons">
        <a href="https://drive.google.com/open?id=0B1nAFv9WWinicWZrT3ZhTFJwbHc" class="btn btn-side-menu" target="_blank">
            <i class="fa fa-download"></i>
            Download my resume
        </a>
        <!--<a href="#" class="btn btn-side-menu"><i class="fa fa-envelope-o"></i> Send me a message</a>-->
    </div>
    <!-- /Other Buttons-->
</div>
