@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black font-space-grotesk text-white selection:bg-accent selection:text-black;
  min-width: 375px;
}

.elipsis-1 {
  height: 22.5rem;
  bottom: 15rem;
  left: 0.5rem;
  background: #b6f09c;
}

.elipsis-2 {
  height: 19.5rem;
  bottom: 6rem;
  left: 20rem;
  background: #ffebd3;
}

@layer utilities {
  .elipsis {
    width: 42rem;
    border-radius: 100%;
    filter: blur(12.5rem);
    transform: rotate(24deg);
    opacity: 0.25;
  }

  .max-supported-width {
    max-width: 120rem;
  }

  .navbar-padding {
    padding-top: 6.25rem;
  }
}
