<div class="row">
    <div class="header-buttons col-md-10 col-md-offset-1">
        <!-- Download Resume Button -->
        <a href="https://drive.google.com/uc?export=download&id=0B1nAFv9WWinibkRRMmJLYkVEdFE"
           class="btn btn-default btn-top-resume"><i class="fa fa-download"></i><span class="btn-hide-text">Download
            my resume</span></a>
        <!-- /Download Resume Button -->
        <!-- Mail Button -->
        <!--<a href="#" class="btn btn-default btn-top-message"><i class="fa fa-envelope-o"></i><span class="btn-hide-text">Send me a message</span></a>-->
        <!-- /Mail Button -->
    </div>
</div>