{% assign profile = site.data.profile %}

<div class="profile-intro row">
    <!-- Left Collum with Avatar pic -->
    <div class="col-md-4 profile-col">
        <!-- Avatar pic -->
        <div class="profile-pic">
            <div class="profile-border">
                <!-- Put your picture here ( 308px by 308px for retina display)-->
                <img src="https://s.gravatar.com/avatar/{{ profile.gravatar }}?s=308" alt="">
                <!-- /Put your picture here -->
            </div>
        </div>
        <!-- /Avatar pic -->
    </div>
    <!-- /Left columm with avatar pic -->

    <!-- Right Columm -->
    <div class="col-md-7">
        <!-- Welcome Title-->
        <h1 class="intro-title1">Hi, I'm <span class="color1 bold">{{ profile.name }}!</span></h1>
        <!-- /Welcome Title -->
        <!-- Job - -->
        <h2 class="intro-title2">{{ profile.job }}</h2>
        <!-- /job -->
        <!-- Description -->
        <p>{{ profile.bio }}</p>
        <!-- /Description -->
    </div>
    <!-- /Right Collum -->
</div>