{% for portfolioItem in timelineEntry.portfolioList %}
    <div class="portfolio-item">
        <!-- Link to the item image (Put the long description on  "a" title)-->
        <a href="{{ portfolioItem.imagePath }}"
           title="{{ portfolioItem.description }}" class="nivobox"
           data-lightbox-gallery="portfolio">
            <div class="hover">
                <p class="zoomi"><i class="fa fa-search"></i></p>
                <!-- Item short title -->
                <p class="portfolio-item-title">
                    {{ portfolioItem.title }}
                </p>
            </div>
            <div class="hover-bg-wrapper">
                <div class="hover-bg"></div>
            </div>
            <div class="portfolio-item-thumbnail">
                <!-- Thumbnail of the portfolio image (400x360 for retina display) -->
                <img src="{{ portfolioItem.thumbnailPath }}" alt="">
            </div>
        </a>
    </div>
{% endfor %}