<ul class="skills-list">
    {% for skill in timelineEntry.skillList %}
    <li>
        <div class="progress">
            <div class="progress-bar {{ skill.progressBarType }}" role="progressbar" data-percent="{{ skill.percentage }}%"
                 style="width: {{ skill.percentage }}%;">
                <span class="sr-only">{{ skill.percentage }}% Complete</span>
            </div>
            <span class="progress-type">{{ skill.name }}</span>
            <span class="progress-completed">{{ skill.percentage }}%</span>
        </div>
    </li>
    {% endfor %}
</ul>