<section class="timeline profile-infos">

    <!-- VERTICAL MARGIN (necessary for the timeline effect) -->
    {% include content/timeline/margin.html %}
    <!-- /VERTICAL MARGIN -->

    <!-- SECTION ITEM -->
    <div class="line row line-thank-you">
        <!-- Margin Collums (necessary for the timeline effect) -->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <div class="col-md-2 timeline-progress hidden-sm hidden-xs full-height timeline-point "></div>
        <!-- /Margin Collums -->
        <!-- Item Content -->
        <div class="col-md-8 content-wrap bg1">
            <div class="line-content">
                <!-- Subtitle -->
                <h3 class="thank-you">Thank You!</h3>
                <!-- /Subtitle -->
            </div>
        </div>
        <!-- /Item Content -->
        <!-- Margin Collum-->
        <div class="col-md-1 bg1 timeline-space full-height hidden-sm hidden-xs"></div>
        <!-- / Margin Collum-->
    </div>
    <!-- /SECTION ITEM -->
</section>